# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

les1/build
les2_1/build
les2_2/build
les2_3/build
les3_1/build
les4_1/build
*.user


les4_1/QtLanguage_en.qm
les4_1/QtLanguage_en.ts
les4_1/QtLanguage_ru.qm
les4_1/QtLanguage_ru.ts
les4_1/about.txt
les4_1/about_rus.txt
les4_1/help.txt
les4_1/help_rus.txt
les4_1/service.h
